
*{
	margin: 0;
	padding: 0;
}
body{
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
	margin-top: 16px;
}
.Rv{
	width: 700px;
	background-color: #FFFFFF;
	margin: auto;
	color: #FFFFFF;
    padding: 4px 0px 4px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
	color: rgb(2, 0, 128);
}
.main{
   background-color: rgb(0,0,0,0.5);
   width: 700px;
   margin: auto;
   height: ;
   
}
form{
	padding: 6px;
}
#name{
	width: 100%;
	height: 100px;
}
.name{
	margin-left: 20px;
	margin-top:px;
	width: 120px;
	color: white;
	font-size: 14px;
	font-weight: 700px;
}
.prenom{
 position: relative;
 left: 74px;
 top:-20px;
 line-height: 20px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
}
.poi{
	margin-left: 20px;
	margin-top:px;
	width: 120px;
	color: white;
	font-size: 14px;
	font-weight: 700px;
}
.poids{
 position: relative;
 left: 74px;
 top:-20px;
 line-height: 20px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
}
.taille{
    position: relative;
    left: 360px;
    top:-42px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 14px;
    color:white;	
   }
   
   .tailles{
    
    position: relative;
    left: 430px;
    top:-70px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
   }
.age{
	margin-left: 20px;
	margin-top:px;
	width: 120px;
	color: white;
	font-size: 18px;
	font-weight: 700px;
}
.ages{
 position: relative;
 left: 70px;
 top:-30px;
 line-height: 20px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
}
.nom{
 position: relative;
 left: 430px;
 top:-70px;
 line-height: 25px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
 color: #555;
}

.names{
 
 position: relative;
 left: 360px;
 top:-42px;
 line-height: 25px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 14px;
 color:white;	
}
.temperature{
    position: relative;
    left: 430px;
    top:-80px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
   }
.temp{
 
    position: relative;
    left: 300px;
    top:-47px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color:white;	
   }
.naissance{

 position: relative;
 left: 180px;
 top:-45px;
 width: 400px;
 line-height: 25px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
 color: #555;
}
.adresse{
 position: relative;
 left: 180px;
 top:-45px;
 width: 400px;
 line-height: 25px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
 color: #555;
}
.phone{
	position: relative;
 left: 340px;
 top:-90px;
 width: 240px;
 line-height: 25px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
 color: #555;
}
.indi{
	position: relative;
 left: 180px;
 top:-45px;
 width: 100px;
 line-height: 25px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
 color: #555;
}
.option{
	position: relative;
 left: 180px;
 top:-37px;
 width: 400px;
 line-height: 60px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 19px;
 color: #555;
}
.jour{
 position: relative;
 left: 180px;
 top:-45px;
 width: 400px;
 line-height: Z5px;
 border-radius: 6px;
 padding: 0 22px;
 font-size: 16px;
 color: #555;	
}
.boutton{
position: relative;
 left: 290px;
 top:-15px;
 width: 150px;
 line-height: 25px;
 border-radius: 6px;
 padding: 0 22px;
 
 font-size: 16px;
 color: rgb(48, 14, 243);
 
}
body.affiche
{
  text-align: center;	
}
.btn{

  text-align:right;
  background-color: #FFFFFF;
  text-align: center;
  color: rgb(0, 34, 128);	
  text-decoration:rgb(247, 250, 248);;
  width: 100px;
}