form fieldset{
	border-color: red;
	width: 30%;
	margin: auto;
	margin-top: 5%;
	
}
form legend {color: red;}
form input {
	height: 60px;
	width: 330px;
	margin top: 5%;
}
form input#bouton{
	width: 100px;
	height: 30px;
	margin: 2%;
}
h1#bv{
	color: green;
	
	}

div.centré{
	margin: auto;
	margin-top: 5%;
	font-size: 20px;
	width: 50%;
}
div.coul{
	color: red;
	font-size: 20px;
	width:40%;
	margin:auto;
	margin-top:1%;
	text-align: center;

}
h1{
 text-align: center;
 color: rgb(238, 247, 238);
 font-size: 40px;
}
.td{
text-align: center;
font-size: 20px;

}
fieldset{

border-color: black;
	width: 30%;
	margin: auto;
	margin-top: 4%;
	padding:2%;
}
table
{
    border-collapse: collapse;
 }
 td
{
    border: 1px solid black;
}